:root {
  --background-gradient-top:    #E87AA4;
  --background-gradient-middle: #B8E297;
  --background-gradient-bottom: #42C1F7;
}

a {
  text-decoration: none;
}

body {
  font-family: "San Francisco", sans-serif;
  color: white;
  background-image: linear-gradient(
    var(--background-gradient-top),
    var(--background-gradient-middle),
    var(--background-gradient-bottom)
  );
  /* animation: 10s ease infinite normal both gradient-scroll; */
  text-align:     center;
  display:        flex;
  align-items:    center;
  justify-content:  center;
}

html {
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 8px;
}

 #app-icon {
   filter: drop-shadow(4pt 4pt 3pt gray);
   width: 128px;
   height: 128px;
 }

@keyframes gradient-scroll {
  from {
    /* background- */
  }

  /* from {
    background-image: linear-gradient(
      var(--background-gradient-top),
      var(--background-gradient-middle),
      var(--background-gradient-bottom)
    );
  }

  33% {
    background-image: linear-gradient(
      var(--background-gradient-middle),
      var(--background-gradient-bottom),
      var(--background-gradient-top)
    );
  }

  66% {
    background-image: linear-gradient(
      var(--background-gradient-bottom),
      var(--background-gradient-top),
      var(--background-gradient-middle)
    );
  }

  to {
    background-image: linear-gradient(
      var(--background-gradient-top),
      var(--background-gradient-middle),
      var(--background-gradient-bottom)
    );
  } */
}
